* text=auto !eol
/Makefile -text
/apertium-tr-en.en-tr.t1x -text
/apertium-tr-en.en.dix -text
/apertium-tr-en.tr-en.dix -text
/en-tr.autogen.hfst -text
/en-tr.prob -text svneol=unset#unset
/lexchoicebil.xsl -text
/modes.xml -text
